@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0b132a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-baloo);

  --color-navy: #0b132a;
  --color-brand: #f53838;
  --color-brand-dark: #e12727;
  --color-brand-soft: #ffecec;
  --color-purple: #30235b;
  --color-mint: #3cb07b;
}

body {
  background: var(--background);
  color: var(--foreground);
}
